*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
}

img {
    outline: red solid;
    width: 33%;
}