body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fast {
  transform: translateX(50%);
  opacity: 0;
  animation: ease-in-out 1s;
}
.fast.appear {
  transform: translateX(0);
  opacity: 1;
}

.cool {
}
